.DayDetailContainer {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 100%;
  padding: 0;
}

.DayDetailContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px 0 10px 0;
}

/* This is for the accordion components within day details */
.AccordionCardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
}

.DayDetailAccordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 10px;
}

.DayDetailButton {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

.DetailDayCard {
  margin-top: 5px;
}

.DetailDayCardExpanded {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  height: 100px;
}