.MealContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ExpandedDetails {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-evenly;
  overflow-y: hidden;
  width: 100%;
}
