.TripDetailsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.TripDetailsDays {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}