.TripDetailsContainer {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.TripDetailsDays {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    
}

.TripDetailButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
}