.TripDetailsContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0;
    padding: 0;
}

.TripDetailsDays {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.TripDetailButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}