.AccommodationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
}

.hotel-card-media {
    object-fit: 'cover';
    border-radius: 1vmin;
    background-color: var(--light);
}