.TripContainer {
    display: flex;
    flex-direction: row;
    background-color: purple;
    width: 250px;
}

.TripSideBar {
  width: 250px;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TripSideBarButtonContainer {
  background-color: green;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TripSideBarButtonContainer button {
  background-color: white;
  width: 175px;
  text-align: center;
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
}
