.TripContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.TripSideBar {
  display: flex;
  flex-direction: column;
  width: 50%;
  
}

.DayDetailContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow-y: auto;
}

.TripButtonContainer {
  display: flex;
  flex-direction: column;

}

.TripButtonContainer Button {

}


#side-bar-button {
  margin-top: 10px;
}