.HomeContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.Trip {
    height: 100%;
    margin: 0;
}

.Map {
    height: 100%;
    width: 100%;
    margin: 0;
}

@media (max-width: 600px) {
    .HomeContainer {
        display: column;
    }
    .Trip {
        display: none;
    }
    .Map {
        display: none;
    }
    .MobileContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
}