.MobileContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--gray);
}

.MobileContent {
  width: 100%;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.MobileFooter {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vh;
}