/* CSS Custom Properties */
:root {
  --blue: #3498db;
  --indigo: #4964e3;
  --purple: #7b5faf;
  --pink: #e43c8c;
  --red: #e0425a;
  --orange: #f56a40;
  --yellow: #ed9d3b;
  --green: #18c080;
  --teal: #49cfcf;
  --cyan: #16aeb8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #4964e3;
  --secondary: #6c757d;
  --success: #18c080;
  --info: #16aeb8;
  --warning: #ed9d3b;
  --danger: #e0425a;
  --light: #f3f4f5;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.add-button {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.accordion-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 10px;
}

.accordion-sub-container {

}

.hotel-card {
  width: 750px;
}

.hotel-card-media {
  object-fit: 'cover';
  border-radius: 1vmin;
  background-color: var(--light);
}

.card-media {
  object-fit: 'cover';
  border-radius: 1vmin;
  background-color: var(--light);
}


.meal-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: '16px';
}

.meal-card {
  width: 750px;
  display: flex;
  flex-direction: row;
}

.meal-card :nth-child {
  width: 50%;
}

.mobile-card-conatiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  height: 25vh;
  width: 100%;
}

@media (max-width: 600px) {
  .add-button {
    display: none;
  }
  .mobile-map {
    height: 65%;
    width: 100%;
  }
  .mobile-map-area {
    border-radius: 2vmin;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}